name: Build and Push Docker Image to ECR

on:
  push:
    branches:
      - main  

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_SECRET }}
          aws-region: ap-south-1

      - name: Authenticate Docker to ECR
        run: |
          aws ecr get-login-password --region ap-south-1 | docker login --username AWS --password-stdin 314146310240.dkr.ecr.ap-south-1.amazonaws.com

      - name: Build Docker image
        run: |
          docker build -t admin-api-server .

      - name: Tag Docker image
        run: |
          docker tag admin-api-server:latest 314146310240.dkr.ecr.ap-south-1.amazonaws.com/admin-api-server:latest

      - name: Push Docker image to ECR
        run: |
          docker push 314146310240.dkr.ecr.ap-south-1.amazonaws.com/admin-api-server:latest
          
